@model CatalogSearchModel

@{
    //page title
    ViewBag.PageTitle = T(Default.PluginCatalogTitle).Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName(Default.SystemNameMenuCatalog);
}

<form asp-controller="CatalogSync" id="catalog-sync-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T(Default.PluginCatalogTitle)
        </h1>
        <div class="float-right">
            <a asp-controller="CatalogSync" asp-action="List" asp-route-liveRates="true" class="btn btn-success">
                <i class="fas fa-tasks"></i>
                @T(Default.CATALOG_LIVE)
            </a>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="form-horizontal">
                    <div class="cards-group">
                        <div class="card card-default">
                            <div class="card-body">
                                <p>
                                    @T(Default.CATALOG_REVENEW)
                                </p>
                                @await Html.PartialAsync("Table", new DataTablesModel
                                {
                                Name = "revenew-grid",
                                UrlRead = new DataUrl("CatalogSyncList", "CatalogSync", new RouteValueDictionary { [nameof(Model)] = Model }),
                                UrlDelete = new DataUrl("CatalogSyncDelete", "CatalogSync", null),
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                ColumnCollection = new List<ColumnProperty>
                                {
                                new ColumnProperty(nameof(CatalogModel.IdRevenew))
                                {
                                Title = T(Default.REVENEW_IDENTIFIER).Text
                                },
                                new ColumnProperty(nameof(CatalogModel.RevenewName))
                                {
                                Title = T(Default.REVENEW_NAME).Text
                                },
                                new ColumnProperty(nameof(CatalogModel.NameType))
                                {
                                Title = T(Default.NAME_PROPERTY_TYPE).Text
                                },
                                new ColumnProperty(nameof(CatalogModel.Makeup))
                                {
                                Title = T(Default.MAKEUP_NAME).Text
                                },
                                new ColumnProperty(nameof(CatalogModel.Priority))
                                {
                                Title = T(Default.REVENEW_PRIORITY).Text
                                },
                                new ColumnProperty(nameof(CatalogModel.IdMapping))
                                {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderCustom("renderRevenewColumnEdit")
                                },
                                new ColumnProperty(nameof(CatalogModel.IdMapping))
                                {
                                Title = T("Admin.Common.Delete").Text,
                                Width = "100",
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                ClassName =  NopColumnClassDefaults.Button
                                }
                                }
                                })
                                <script>
                                    function renderRevenewColumnEdit(data, type, row, meta) {
                                        return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/CatalogSync/RevenewEditPopup/")' + data + '?btnId=btnRefreshCatalogSync&formId=catalog-sync-form\', 800, 600, true); return false;\" class="btn btn-default"><i class="fas fa-pencil-alt"></i>@T("Admin.Common.Edit").Text</button>';
                                    }
                                </script>
                            </div>
                            <div class="card-footer">
                                <button type="submit" id="btnAddNewCatalogSync" onclick="javascript:OpenWindow('@(Url.Action("RevenewCreatePopup", "CatalogSync", new { btnId = "btnRefreshCatalogSync", formId = "catalog-sync-form"}))', 800, 600, true); return false;" class="btn btn-primary">
                                    @T($"{Default.RESOURCE_PREFIX}.Admin.Sync.Catalog.Revenew.AddNew")
                                </button>
                                <button type="submit" id="btnRefreshCatalogSync" style="display: none"></button>
                                <script>
                                    $(document).ready(function () {
                                        $('#btnRefreshCatalogSync').click(function () {
                                            updateTable('#revenew-grid');
                                            //return false to don't reload a page
                                            return false;
                                        });
                                    });
                                </script>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
